@font-face {
  font-family: 'Circe';
  src: url('styles/Circe-Regular.eot');
  /* src: local('Circe'), local('Circe-Regular'),
      url('/styles/Circe-Regular.eot?#iefix') format('embedded-opentype'),
      url('/styles/Circe-Regular.woff2') format('woff2'),
      url('/styles/Circe-Regular.woff') format('woff'),
      url('/styles/Circe-Regular.ttf') format('truetype'); */
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Circe';
  src: url('./styles/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
      url('./styles/Circe-Bold.eot?#iefix') format('embedded-opentype'),
      url('./styles/Circe-Bold.woff2') format('woff2'),
      url('./styles/Circe-Bold.woff') format('woff'),
      url('./styles/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

body {
  font-family: 'Circe';
}